*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}
.absolute-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.container{
	width: 80%;
}
.about_flex{
	display: flex;
}

.flex_vertical_distant{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.material-icons{cursor: default;}
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.circle { padding: 10px;background-color: #1a237e;margin: 0 2px;  }

.underline{
	position: relative;
	top: -5px;
}
.underline::after {
	display: block;
	content: '';
	width: 100px;
	height: 3px;
	background: gray;
	position: absolute;
	bottom: -10px;
	left: 0;
}

body{
	font-size: 18px;
}

.heading{
	margin-top: 0;
	font-size: 40px;
}

nav{
	padding-right:10px;
	background: transparent;
	box-shadow: unset;
}
nav a{
	font-size: 18px !important;
}

.landing{
	height: 80vh;
	background-image:linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.75)),url('assets/heroBg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.landing > img{
	border-radius: 50%;
}
.about{
	background: #121639;
	padding: 10% 0; 
}
.box{
	margin-top: 10px;
	padding: 5px 25px; 
	border-radius: 10px;
	background: #121639;
	box-shadow:  8px 8px 16px #00131f, -8px -8px 16px #01131f;			 
	letter-spacing: 0.1rem;
}
.box > h5{
	padding: 0;
	margin: 5px 0;
}



.skill{
	background: #161b44;
	padding: 10% 0; 
}
.skill > .container{
	background: rgba(0,0,0,0.4);	
	border-radius: 15px;
	margin-top:15px;
	padding: 5px;
	text-align: center;
	max-width: 885px;
}

.carousel-item{
	height: 300px !important;
	width: 275px !important;
}
.carousel-item>img{
	height: 100%;
}

.exp_box{
	min-width:200px;
	width: 30%;
	border-radius:5px;
	border: 2px solid red;
	padding: 10px;
}

.exp_title{
	font-weight: bold;
}


.form{
	background: rgba(2, 6, 70,0.8) none repeat scroll 0% 0%; 
	color: rgb(255, 255, 255); 
	box-shadow: rgb(0, 0, 0) 0px -2px 10px;
	padding: 5px 20px;border-radius: 10px;
}

.form label{
	user-select: none;
}

@media only screen and (max-width: 760px) {
    .experience >div>div>div {
		width: 100% !important;
		margin-bottom: 15px;
  	}
  	.experience >div>div{
  		flex-direction: column;
	}
	.about_flex{
		flex-direction: column;
		align-items: center;
	}
	.skleft{
		text-align: right !important;
	}
	.skright{
		text-align: left !important;
	}
}